.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: var(--main-border);
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: var(--brown);
    position: relative;
}

.nav__notification {
    left: 15px;
    top: -15px;
}

.nav__notification2 {
    width: 5px;
    height: 5px;
    left: 27px;
    top: -10px;
}