.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: var(--main-border);
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: var(--brown);
    position: relative;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: none;
    }
}

.nav__notification {
    left: 15px;
    top: -15px;
    animation: notificationAnimation 2s ease-in-out infinite;
}

.nav__notification2 {
    width: 5px;
    height: 5px;
    left: 27px;
    top: -10px;
}