.screen-header {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 10px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 700;
}

.screen-header__icons span {
    margin-left: 25px;
    position: relative;
}

.screen-header__notification {
    display: block;
    width: 5px;
    height: 5px;
    right: -5px;
    top: 0px;
}